/*
 * @Author: hzq
 * @Date: 2018-08-29 14:25:47
 * @Last Modified by: hzq
 * @Last Modified time: 2018-12-10 10:40:31
 * @文件说明: 全局sass覆盖
 */
* {
    margin: 0;
    padding: 0;
    font-family: 'PingFang SC', 'Microsoft YaHei', '微软雅黑', 'Helvetica Neue',
        Helvetica, 'Hiragino Sans GB', Arial, sans-serif, 'Open Sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
